<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="testFunction()">Upload Android Storage File</ion-button>
    <div id="changeText">{{ text }}</div>
    <br />
    <br />
    <br />
    <form action="https://localhost:5001/FileUploadBuffer" enctype="multipart/form-data"
      onsubmit="return false;" method="post" id="formUploadBuffer">
      <dl>
        <dt>
          <label for="FileUpload_FormFile">Microsoft Doc File Upload Buffer</label>
        </dt>
        <dd>
          <input id="FileUpload_FormFile" type="file" name="files" />
        </dd>
      </dl>
      <input class="btn" type="submit" value="Upload" (click)="AJAXSubmitBuffer()" />
      <div style="margin-top: 15px;">
        <output name="result"></output>
      </div>
    </form>
    <br />
    <br />
    <br />
    <form #f="ngForm" action="https://localhost:5001/FileUploadStream" enctype="multipart/form-data" (ngSubmit)="AJAXSubmitStream(f)"
      onsubmit="return false;" method="post" id="formUploadStream">
      <dl>
        <dt>
          <label for="FileUpload_FormFile">Microsoft Doc File Upload Stream</label>
        </dt>
        <dd>
          <input id="file" type="file" name="file" />
        </dd>
      </dl>
      <input class="btn" type="submit" value="Upload" />
      <div style="margin-top: 15px;">
        <output name="result"></output>
      </div>
    </form>
  </div>
</ion-content>