<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a>
    </p>
    <br />
    <br />
    <br />
    <ion-button (click)="testFunction()">Test Function</ion-button>
    <div id="changeText">{{ text }}</div>
    <br />
    <br />
    <br />
    <form action="https://192.168.0.139:5001/FileUpload" enctype="multipart/form-data"
      onsubmit="return false;" method="post" id="formUpload">
      <dl>
        <dt>
          <label for="FileUpload_FormFile">Microsoft Doc File Upload</label>
        </dt>
        <dd>
          <input id="FileUpload_FormFile" type="file" name="files" />
        </dd>
      </dl>
      <input class="btn" type="submit" value="Upload" (click)="AJAXSubmit()" />
      <div style="margin-top: 15px;">
        <output name="result"></output>
      </div>
    </form>
  </div>
</ion-content>